.section-wrap {
  margin-left: 80px;
}
@media screen and (max-width: 700px) {
  .sidebar-main-wrap {
    width: 60px !important;
  }
  .section-wrap {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1380px) {
  .section-wrap {
    margin-left: 0 !important;
  }
  .sidebar-main-wrap {
    position: relative !important;
  }
}
@media screen and (max-height: 730px) {
  .sidebar-inner {
    gap: 6px !important;
  }
  .sidebar-nav-links {
    gap: 8px !important;
  }
  .sidebar-main-wrap {
    padding-bottom: 25px !important;
  }
  .sidebar-main-wrap > div {
    padding-bottom: 8px;
  }
}
