:root {
  --sidebar-width: 80px;
}
.section-wrap {
  margin-left: var(--sidebar-width);
}
@media screen and (max-width: 479px) {
  :root {
    --sidebar-width: 0px !important;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --sidebar-width: 60px;
  }
  .sidebar-main-wrap {
    width: var(--sidebar-width) !important;
  }
  .section-wrap {
    margin-left: var(--sidebar-width) !important;
  }
}
@media screen and (min-width: 1380px) {
  .section-wrap {
    margin-left: 0 !important;
  }
  .sidebar-main-wrap {
    position: relative !important;
  }
}
@media screen and (max-height: 780px) {
  .sidebar-inner {
    gap: 6px !important;
  }
  .sidebar-nav-links {
    gap: 6px !important;
  }
  .nav-link {
    height: 36px !important;

    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
  .sidebar-main-wrap {
    padding-bottom: 25px !important;
  }
  .sidebar-main-wrap > div {
    padding-bottom: 8px;
  }
}
